@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --font01:'Poppins', sans-serif;
    --font02:'Open Sans', sans-serif;
    --color01: #674baf;
    --color02: #e882e8;
}

body {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color01) url('images/bg-desktop.svg') left center no-repeat scroll;
    background-size: cover;
    width: 375px;
}

header {
    align-self: flex-start;
    padding: 25px 0 0 40px;
}

header > img {
    height: 30px;
}

main {
    display: flex;
    flex-direction: column;
}

main > div.imagem {
    display: flex;
    justify-content: center;
}

main > div.imagem > img {
    width: 290px;
    padding: 10px 30px 0 30px;
}

div.text_and_button > section > h1, p {
    padding: 0 55px;
    color: white;
    text-align: center;
}

div.text_and_button > section > h1 {
    font-family: var(--font01);
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
}

div.text_and_button > section > p {
    font-family: var(--font02);
    font-size: .85em;
    font-weight: 400;
}

main > div.text_and_button > a {
    display: block;
    text-align: center;
    font-family: var(--font02);
    font-size: .9em;
    text-decoration: none;
    background-color: white;
    color: var(--color01);
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

main > div.text_and_button > a:hover {
    cursor: pointer;
    background-color: var(--color02);
    color: white;
}

main > div.socialmedia {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.fa {
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin: 0px 0px 0 8px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    cursor: pointer;
    border: 1px solid var(--color02);
    color: var(--color02);
}

footer {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        display: block;
        width: 100vw;
        background-size: cover;
        position: relative;
    }

    header {
        padding: 40px 0 15px 60px;
    }

    header > img {
        height: 50px;
    }    

    main {
        flex-direction: row;
    }

    main > div.imagem {
        margin: ;
        height: 50vh;
        width: 60vw; /*683*/
    }

    main > div.imagem > img {
        margin: 0;
        height: 70vh;
        width: 45vw;
    }

    div.text_and_button {

        width: 520px;
    }

    div.text_and_button > section > h1 {
        font-size: 3.1vw;
        text-align: start;
        font-weight: 600;
        padding: 0;
        margin-bottom: 15px;
    }

    div.text_and_button > section > p {
        text-align: left;
        font-size: 1.4vw;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }

    main > div.text_and_button > a {
        width: 150px;
        padding: 10px;
        margin: 25px 0px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
        position: relative;
    }

    main > div.socialmedia {
        position: absolute;

        top: 86vh;
        left: 74vw;
    }

    main > div.socialmedia > a {
        margin: 0 8px;
    }


}